p {
	font-family:'Ubuntu Condensed', Calibri, Candara, Optima, Arial, sans-serif;
	margin:0;
	color:#4A5C5F;
}

a {
	text-decoration:none;
	color:#000;
}

a:hover {
    text-decoration:none;
    color:#FF9999;
}

h2 {
	color:#F2E0FC;
	font-family:'Philosopher', Calibri, Candara, Optima, Arial, sans-serif;
	font-weight:200;
	text-shadow: .7px .7px #042C84;
  text-align: center;
}

h3 {
	color:#F2E0FC;
	font-family:'Philosopher', Calibri, Candara, Optima, Arial, sans-serif;
	font-weight:200;
  text-shadow: .7px .7px #042C84;
  text-align: center;
}

label {
  color:#F2E0FC;
  font-family:'Philosopher', Calibri, Candara, Optima, Arial, sans-serif;
  font-weight:200;
  text-shadow: .7px .7px #042C84;
  font-size: 1.1em;
}

input, button, submit {
  border:none;
  padding: 0;
  background-color: transparent;
}

input {
  font-size:.9em;
  font-family:'Ubuntu Condensed', Calibri, Candara, Optima, Arial, sans-serif;
}

.ui-autocomplete-input.ui-widget {
  font-size:.8em;
  font-family:'Ubuntu Condensed', Calibri, Candara, Optima, Arial, sans-serif;
}

.btn {
  font-family:'Philosopher', Calibri, Candara, Optima, Arial, sans-serif;
}

.btn-success {
  background: -webkit-gradient(linear, left top, left bottom, from(#D20202), to(#9C0000));
  background: -webkit-linear-gradient(top, #D20202, #9C0000);
  background: -moz-linear-gradient(top, #D20202, #9C0000);
  background: -ms-linear-gradient(top, #D20202, #9C0000);
  background: -o-linear-gradient(top, #D20202, #9C0000);
  border:0;
  color:#DBD9DC;
}
    
.btn-success:hover {
  color:#F2E0FC;
  border:0;
  opacity:0.7;
}

.btn-secondary {
  background: -webkit-gradient(linear, left top, left bottom, from(#058BCE), to(#011030));
  background: -webkit-linear-gradient(top, #058BCE, #011030);
  background: -moz-linear-gradient(top, #058BCE, #011030);
  background: -ms-linear-gradient(top, #058BCE, #011030);
  background: -o-linear-gradient(top, #058BCE, #011030);
  border:0;
  color:#DBD9DC;
}

.btn-secondary:hover {
  color:#F2E0FC;
  border:0;
  opacity:0.7;
}

#topContainer {
	width:100%;
	height:100%;
  background-image:url("images/loginBg3.jpg");
}

#topContainer2 {
	width:100%;
  height:1100px;
  background-image:url("images/transpBg3.jpg");
  background-position:center;
  padding-top: 40px;
  padding-bottom: 100px;
}

#invisDiv {
  background-color: transparent;
  margin: 0 auto;
  width: 1101px;
  height: 970px;
}

#scheduleMain {
  margin: 0 0 0 200px;
  width: 707px;
  height: 960px;
  float: left;
}

#formBb {
  position: fixed;
  width: 181px;
  height: 300px;
  margin-top: 83px;
}

#doctors {
  width: 181px;
  margin-bottom: 10px;
}

#blockBook {
  width: 181px;
  height: 220px;
  padding: 8px;
  margin: 5px 0 5px 0;
  background-color: #E0E1E9;
  box-shadow: 3px 3px 2px #888888;
  border: solid .5px black;
}

#portrait {
  padding: 0;
  margin: 5px 0 0 55px;
}

#kommentar {
  width: 180px;
  height: 160px;
  position: fixed;
  margin: 285px 0 0 927px;
}

#patSearch {
  position: fixed;
  margin: 455px 0 0 927px;
}

#numSearch {
  position: fixed;
  margin: 515px 0 0 927px;
}

table {
  font-family: 'Ubuntu Condensed', optima;
  border-collapse: collapse;
  background-color: #E0E1E9;
  box-shadow: 3px 3px 2px #888888;
}

textarea {
  font-family: 'Ubuntu Condensed', optima;
  background-color: #E0E1E9;
  box-shadow: 3px 3px 2px #888888;
  font-size: 0.85em;
}

select {
  background-color: #E0E1E9;
}

thead, th {
  font-size: 0.90em;
  text-align: center;
  border: .5px solid #999;
  padding: 0.15rem;
}

td {
  font-size: 0.78em;
  border: .5px solid #999;
  padding: 0.15rem;
}

input {
  border: 0px solid;
}

#time {
  font-size: 0.80em;
  padding-left: 4px;
}

.number {
  text-align: right;
}

.Nichts {
  background-color: #E0E1E9;
  border: 2px solid #E0E1E9;
}

.Neupatient {
  background-color: #23C2C7;
  border: 2px solid #23C2C7;
}

.NeupatientTBC {
  background-color: #23C2C7;
  border: 2px dashed #848484;
}

.Patient {
  background-color: #50D9F2;
  border: 2px solid #50D9F2;
}

.PatientTBC {
  background-color: #50D9F2;
  border: 2px dashed #848484;
}

.Pause {
  background-color: #FCF9B1;
  border: 2px solid #FCF9B1;
}

.Puffer {
  background-color: #3F3E3E;
  border: 2px solid #3F3E3E;
}

.ChiroYogaEvent {
  background-color: #B8FAB4;
  border: 2px solid #B8FAB4;
}

.PersonalEvent {
  background-color: #F5C3FC;
  border: 2px solid #F5C3FC;
}

.totals {
  color: #BF0404;
  font-weight: 600;
  background-color: #FCCBD0;
}

/*************************** Calendar Top Navigation **************************/
#calendar {
  position: fixed;
  margin: 83px 0 15px 927px;
  padding: 0px;
  width: 180px;
  font-family: 'Ubuntu Condensed', Calibri, Candara, Optima, Arial, sans-serif;
  box-shadow: 3px 3px 2px #888888;
}
#calendar .calendar_box {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#058BCE), to(#011030));
  background: -webkit-linear-gradient(top, #058BCE, #011030);
  background: -moz-linear-gradient(top, #058BCE, #011030);
  background: -ms-linear-gradient(top, #058BCE, #011030);
  background: -o-linear-gradient(top, #058BCE, #011030);
  color:#DBD9DC;
}
#calendar .calendar_header {
  line-height: 10px;  
  vertical-align: middle;
  position: absolute;
  left: 9px;
  top: 10px;
  width: 164px;
  height: 10px;
  text-align: center;
  font-family: 'Philosopher', Calibri, Candara, Optima, Arial, sans-serif;
}
#calendar .calendar_header .calendar_prev, #calendar .calendar_header .calendar_next {
  position: absolute;
  top: 0px;
  height: 17px;
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
}
#calendar .calendar_header .calendar_title {
  color: #FFF;
  font-size: 11px;
}
#calendar .calendar_header .calendar_prev {
  left: 0px;
  font-size: 15px;
  color: #FCF9B1;
  margin-top: -4px;
}
#calendar .calendar_header .calendar_next {
  right: 0px;
  font-size: 15px;
  color: #FCF9B1;
  margin-top: -4px;
}
/*************************** Calendar Content Cells ***************************/
#calendar .calendar_content {
  border: .5px solid #787878;
  border-top: none;
}
#calendar .calendar_label {
  float: left;
  margin: 0px;
  padding: 0px;
  margin-top: 3px;
  margin-left: 5px;
}
#calendar .calendar_label .calendar_names {
  margin: 0px;
  padding: 0px;
  margin-right: 4px;
  float: left;
  list-style-type: none;
  width: 20px;
  height: 10px;
  line-height: 10px;
  vertical-align: middle;
  text-align: center;
  color: #000;
  font-size: 10px;
  background-color: transparent;
}
#calendar .calendar_dates {
  float: left;
  margin: 0px;
  padding: 0px;
  margin-left: 6px;
  margin-bottom: 5px;
}
/** overall width = width+padding-right **/
#calendar .calendar_dates .calendar_names, #calendar .calendar_dates .calendar_days, #calendar .calendar_dates .calendar_today {
  margin: 0px;
  padding: 0px;
  margin-right: 4px;
  margin-top: 4px;
  line-height: 20px;
  vertical-align: middle;
  float: left;
  list-style-type: none;
  width: 20px;
  height: 20px;
  font-size: 10px;
  background-color: #DDD;
  opacity: 0.4;
  color: #000;
  text-align: center;
}
#calendar .calendar_dates .calendar_today {
  border: .8px solid white;
}
:focus {
  outline: none;
}
.calendar_clear {
  clear: both;
}